---
import Layout from '../../components/layout.astro';
---

<Layout>
  <div style="font-size: 30px; padding-top: 35px;">
    <div style="font-size: 50px; font-weight: bold; padding-bottom: 20px;">About me</div>

    <div style="padding-bottom: 20px;">
      > Hey there! I am Saran, currently pursuing my B.Tech in Artificial Intelligence and Data Science at
      Shiv Nadar University, Chennai.
    </div>

    <div style="padding-bottom: 20px;">
      > I am passionate about anything in the realm of technology with heavy interest in webdev, ml and anything else I encouter.
    </div>

    <div>
      > I'm always enthusiastic about networking, discussing tech or collaborating on projects. Feel free
      to contact me through:
    </div>

    <ul>
      <li><a href="mailto:rsarans186@gmail.com">E-mail</a></li>
      <li><a href="https://linkedin.com/in/saran-shankar">Linkedin</a></li>
      <li><a href="https://discord.com/app/">Discord</a> (username: @try3d)</li>
    </ul>

    <div style="font-size: 25px;">
      P.S. This project was made with the <a href="https://astro.build">astro</a> framework. The source code of the project is available <a href="https://github.com/try3d/try3d.github.io/">here</a>.
    </div>
  </div>
</Layout>

<style>
  a {
      color: #bb9af7;
  }

  li {
    list-style-type: square;
  }
</style>
