---
import Layout from '../layouts/Layout.astro';
import Cell from '../components/Cell.astro';
import Output from '../components/Output.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Try3D">
  <div>
    <Cell />
    <Output />
  </div>

  <Footer />
</Layout>

<style>
  div {
    font-size: 26px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
</style>
