---
const { name, title, date } = Astro.props;
---
<div class="padding-bottom">
  <div class="title">
    <a href={name}>
      {title}
    </a>
  </div>
  <div class="date">
    {date}
  </div>
</div>

<style>
  a {
    color: #e0af68;
    text-decoration: none;
  }

  .padding-bottom {
    padding-bottom: 10px;
  }

  .title {
    font-size: 50px;
    font-weight: bold;
    padding-top: 35px;
  }

  .date {
    font-size: 30px;
  }
</style>
