<div class="copyright">
  Copyright 2023 try3d. All rights reserved.
</div>

<div class="icons">
    <a href="mailto:rsarans186@gmail.com"><img src="/images/mail.png" alt="mail" /></a>
    <a href="https://github.com/try3d/"><img src="/images/github.png" alt="github" /></a>
    <a href="https://linkedin.com/in/saran-shankar/"><img src="/images/linkedin.png" alt="linkedin" /></a>
</div>

<style>
  .copyright {
    color: #414559;
    padding-top: 100px;
    font-size: 25px;
    text-align: center;
  }

  .icons {
    padding-top: 10px;
    text-align: center;
  }

  img {
    width: 32px;
  }
</style>
