---

---

<footer>
  <div class="copyright">
    Copyright try3d 2024.
  </div>

  <div class="contact">
    <div class="text">Contact me here -&gt</div>
    <a href="mailto:rsarans186@gmail.com"><img src="/images/mail.png" alt="mail" /></a>
    <a href="https://github.com/try3d/"><img src="/images/github.png" alt="github" /></a>
    <a href="https://linkedin.com/in/saran-shankar/"><img src="/images/linkedin.png" alt="linkedin" /></a>
  </div>
</footer>

<style>
  footer {
    height: var(--footer-height);
    padding: 20px 20px 20px 20px;
    color: var(--footer);
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .text {
    height: var(--footer-height);
    transform: translate(0px, -2px);
    margin-right: 10px;
  }

  .contact img {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    padding-right: 10px;
  }

  .contact {
    display: flex;
    flex-direction: row;
  }

  .copyright {
    transform: translate(0px, -2px);
  }

  @media (max-width: 650px) {
    footer {
      flex-direction: column;
      align-items: center;
    }

    .text {
      transform: none;
      margin-bottom: 10px;
    }
  }

</style>
