<nav>
  <a href="/"><div>Home</div></a>
  <a href="/projects"><div>Projects</div></a>
  <a href="/tech"><div>Tech</div></a>
  <a href="/about"><div>About</div></a>
</nav>

<style>
  div {
    font-weight: bold;
    font-size: 50px;
    padding: 15px;
  }

  a {
    color: #7aa2f7;
    text-decoration: none;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
  }
</style>
