---

---

<header>
  <nav>
    <div class="left-items">
      <a href="/"><div>Home</div></a>
      <a href="/projects"><div>Projects</div></a>
      <a href="/blogs"><div>Blogs</div></a>
      <a href="/about"><div>About</div></a>
    </div>
    <div class="right-items">
      <a href="mailto:rsarans186@gmail.com">
        <div><img src="/images/mail.png" alt="mail" /></div>
      </a>
      <a href="https://github.com/try3d/">
        <div><img src="/images/github.png" alt="github" /></div>
      </a>
      <a href="https://linkedin.com/in/saran-shankar/">
        <div><img src="/images/linkedin.png" alt="linkedin" /></div>
      </a>
    </div>
  </nav>
</header>

<style>
  div {
    font-weight: bold;
    font-size: 45px;
  }

  a {
    color: #7aa2f7;
    text-decoration: none;
  }

  nav {
    display: flex;
  }

  .left-items,
  .right-items {
    display: flex;
    a {
      div {
        display: flex;
        padding: 15px;
      }
    }
  }

  .right-items {
    margin-left: auto;
  }

  img {
    width: 45px;
  }
</style>
