---

---

<table>
  <tr>
    <th>Name</th>
    <td>Saran</td>
  </tr>
  <tr>
    <th>About</th>
    <td>AI & DS Undergrad @ SNUC<br>
      Webdev and AI/ML Engineer
    </td>
  </tr>
  <tr>
    <th>Resume</th>
    <td><a href="https://youtu.be/dQw4w9WgXcQ">Download CV</a></td>
  </tr>
  <tr>
    <th>Projects</th>
    <td>
      I should update this section...<br>
      Check <a href="https://github.com/try3d">my github</a> for now
    </td>
  </tr>
  <tr>
    <th>Tech</th>
    <td>
      - Webdev<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- React<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Svelte<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Tailwind.CSS<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Flask<br>
      - ML Libraries<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Pytorch<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Tensorflow<br>
      &nbsp;&nbsp;&nbsp;&nbsp;- Scikit-learn<br>
      &nbsp;&nbsp;And many more...
    </td>
  </tr>
</table>

<style>
  table {
    width: var(--viewport-width);
    border-collapse: collapse;
  }

  th, td {
    border: 2px dashed var(--foreground-color);
    padding: 8px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }

  td {
    text-align: left;
  }

  a {
    color: var(--magenta);
  }
</style>
