---
import Layout from "../../components/layout.astro";
---

<Layout>
  <div style="font-size: 33px; padding-top: 35px;">
    <div style="padding-bottom: 20px;">
      Most of my projects are open-source and available in my <a href="https://github.com/try3d/">GitHub</a>.
    </div>
    I should update this section...
  </div>
</Layout>

<style>
  a {
      color: #bb9af7;
  }
</style>
