---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
  @font-face {
    font-family: 'scientifica';
    src: url('/fonts/scientifica.ttf') format('truetype');
  }

	:root {
    --viewport-width: min(80%, 700px);
    --footer-height: 24px;

    --background-color: #1a1b26;
    --foreground-color: #c0caf5;;
    --blue: #7aa2f7;
    --magenta: #bb9af7;
    --cyan: #7dcfff;
    --yellow: #e0af68;
    --footer: #414559;
	}

  html, body {
    height: 100%;
  }

  body {
		background: var(--background-color);
    color: var(--foreground-color);
		font-family: scientifica;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  * {
    padding: 0; 
    margin: 0;
  }
</style>
