---
import Layout from "../../components/layout.astro";
---

<Layout>
  <div style="font-size: 33px; padding-top: 35px;">
    <div style="font-size: 50px; font-weight: bold;">Cool tech I use:</div>
    <ul>
      <li>React</li>
      <li>Next.JS</li>
      <li>Tailwind CSS</li>
      <li>MySQL</li>
      <li>Mongo DB</li>
      <li>Flask</li>
      <li>Nitro Web Framework</li>
      <li>Numpy, Pandas, Matplotlib</li>
      And many more...
    </ul>

    When I am not using these technologies, I take a break, play chess or try solving advent of code problems in whatever the trendy language is for that time (˶ᵔ ᵕ ᵔ˶)
  </div>
</Layout>

<style>
  li {
    list-style-type: square;
  }
</style>
